.array-container{
    width: 85%;
    display: inline-block;
    vertical-align: middle;
    height: 85%;
}

.array-bar{
    width: 5px;
    background-color: #64b5f6;
    display: inline-block;
    margin: 10px 0px 0px 1px;
}

.buttons{
  display: inline-block;
}

.element{
  float: left;
  margin: 10px 10px 10px 10px;
}

.button{
  float: left;
  margin: 20px 10px 10px 10px;
}

.container{
  width:100%;
  text-align: center;
}
